body {
    font-family: sans-serif;
  }
  
  .nk-user-test {
    font-weight: bold;
    color: red;
  }

  label {
    display: block;
  }
  
  nk-if {
    display: none;
  }

 img{
  max-width: 200px;
 }